.col-md-2{
    color: white;
}
.right{
    color: white;
}
.link{
    color: white;
}
a.link:hover{
    color: wheat;
}
.first{
    background-image: url("10571.jpg");
    height: 700px;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
h1{
    text-align: center;
    font-size: large;
}
h3{
    text-align: center;
    font-size: large;
}
.content{
    display: inline-block;
    align-items: center;
    align-content: center;
    text-align: center;
    color: white;
    justify-content: center;
    font-size: large;
}
a.contact{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 1px;
    border-spacing: 2px;
    display: inline-block;
}
.contact:hover{
    color: skyblue;
    border-color: skyblue;
}
