.col-md-1{
    color: white;
}
.col-md-2{
    color: white;
}
a{
    text-decoration: none;
}
.navlink{
    color: white;
    text-decoration: none
}
a.navlink:hover{
    color: gray ;
    text-decoration: none
}
.right{
    color: white;
}
.link{
    color: white;
}
a.link:hover{
    color: wheat;
}
.first{
    
    background-image: url("bg1-01-min.png");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
    font-size: large;
}
h3{
    text-align: center;
    font-size: large;
}
.content{
    display: inline-block;
    align-items: center;
    align-content: center;
    text-align: center;
    color: white;
    justify-content: center;
    font-size: large;
    margin-top: 60px;
    margin-bottom: 50px;
}
a.contact{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 1px;
    border-spacing: 2px;
    display: inline-block;
}
.contact:hover{
    color: skyblue;
    border-color: skyblue;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    text-align: center;
    align-self: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    font-size: large;
}
.navbar{
    background-color: white;
    padding-bottom: 20px;
}
.bg-dark{
    background-color: white;
}
.bimg{
    width: 100vw;
    height: auto;
}
.myrow{
    padding-top: 4vh;
}
.myrow2{
    font-size: medium;
    padding-bottom: 100px;
}
.second{
    background-color: #1a1a1a;
    padding-top: 10px;
    padding-bottom: 130px;
}
.space{
    padding-top: 20px;
    padding-bottom: 20px;
}
.col-s-2{
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;
}
.third{
    background-color: #1a1a1a;
    
}
.fourth{
    background-color: #1a1a1a;
}
.foot{
    background-color: #333333;
}
.box{
    padding-top: 50px;
    padding-bottom: 50px;
}
.register{
    padding-left: 20px;
    color: white;
    font-size: 2rem;
    padding-right: 20px;
    align-content: center;
    justify-content: center;
    border: white solid;
    background-color: transparent;
}
.register:hover{
    border-color: teal;
    color: teal;
    
}
.imghov{
    transition: 0.5s;
}
.imghov:hover {
z-index: 1;
transform: scale(1.05);
box-shadow: 0 25px 40px rgba(0,0,0,.5);
}
.col-md-5{
    color: white;
}