.col-md-1{
    color: white;
}
.col-md-2{
    color: white;
}
a{
    text-decoration: none;
}
.navlink{
    color: white;
    text-decoration: none
}
a.navlink:hover{
    color: turquoise;
    text-decoration: none
}
.right{
    color: white;
}
.link{
    color: white;
}
a.link:hover{
    color: wheat;
}
.first{
    
    background-image: url("10571.png");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
    font-size: large;
}
h3{
    text-align: center;
    font-size: large;
}
.content{
    display: inline-block;
    align-items: center;
    align-content: center;
    text-align: center;
    color: white;
    justify-content: center;
    font-size: large;
    margin-top: 60px;
    margin-bottom: 50px;
}
a.contact{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 1px;
    border-spacing: 2px;
    display: inline-block;
}
.contact:hover{
    color: skyblue;
    border-color: skyblue;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    text-align: center;
    align-self: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    font-size: large;
}
.navbar{
    background-color: rgb(24, 24, 24);
    padding-bottom: 20px;
}
.bg-dark{
    background-color: rgb(24, 24, 24);
}
.bimg{
    width: 100vw;
    height: auto;
}
.myrow{
    padding-top: 4vh;
}
.myrow2{
    font-size: medium;
    padding-bottom: 100px;
}
.black{
    background-color: rgb(24, 24, 24);
    padding-top: 150px;
    padding-bottom: 200px;
}
.space{
    padding-top: 20px;
    padding-bottom: 20px;
}
.col-s-2{
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;
}
.third{
    background-color: darkorange;
    
}
.fourth{
    background-color: purple;
}
.footer{
    background-color: rgb(24, 24, 24);
}
.box{
    
    padding-bottom: 50px;
}
.register{
    padding-left: 20px;
    padding-right: 20px;
    align-content: center;
    justify-content: center;
    border: white solid;
    background-color: purple;
}
.register:hover{
    border-color: yellow;
    color: yellow;
}